@import url("https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic&family=Noto+Sans+KR&family=Quicksand&display=swap");
/* font-family: 'Quicksand','Jua','Nanum Gothic','Noto Sans KR' */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Quicksand", "Jua", "Nanum Gothic", "Noto Sans KR", sans-serif;
}
body {
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
  background-image: linear-gradient(
    135deg,
    rgb(245, 194, 194),
    rgb(255, 255, 255),
    rgb(255, 220, 107)
  );
  color: rgba(139, 69, 19, 0.644);
}
.hidden {
  display: none;
}
section:not(.todo) {
  /* background-color: #aaa; */
  margin-bottom: 15px;
}
.times {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
#time {
  font-size: 10em;
}
#date {
  font-size: 1.5em;
  font-weight: lighter;
  letter-spacing: 10px;
  width: 100%;
}
#greeting {
  font-size: 4.5em;
  font-weight: bold;
}
#letter {
  font-size: 1.35em;
  font-weight: 600;
}
.todo input {
  margin-top: 20px;
  width: 100%;
  border: none;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  color: inherit;
  text-align: center;
  font-family: inherit;
}
.todo input:not([type="submit"]) {
  border-bottom: 2px solid rgba(88, 38, 5, 0.247);
}

@media (max-width: 700px) {
  #time {
    font-size: 6em;
  }
  #date {
    width: 100%;
    letter-spacing: 5px;
  }
  #greeting {
    font-size: 2.8em;
  }
  #letter {
    font-size: 1.35em;
  }
}
