@import url("https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic&family=Noto+Sans+KR&family=Quicksand&display=swap");
/* font-family: 'Quicksand','Jua','Nanum Gothic','Noto Sans KR' */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Quicksand", "Jua", "Nanum Gothic", "Noto Sans KR", sans-serif;
  list-style-position: inside;
  /* list-style-type:disc */
}
::-webkit-scrollbar {
  display: none;
}
html,
body {
  width: 100%;
  height: 100%;
  -ms-overflow-style: none;
  text-align: center;
  transition: background-image 10s linear;
}
.screen {
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.hidden {
  display: none;
}
section{
  margin: auto;
}
.times {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
#time {
  font-size: 10em;
}
#date {
  font-size: 1.5em;
  font-weight: lighter;
  letter-spacing: 10px;
  width: 100%;
}
/*  */
#greeting {
  font-size: 4.5em;
  font-weight: bold;
}
#letter {
  font-size: 1.35em;
  font-weight: 600;
}
.todo input {
  margin: 20px auto;
  width: 100%;
  border: none;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  color: inherit;
  text-align: center;
  font-family: inherit;
}
#todoInput{
  border-bottom: 2px solid rgba(88, 38, 5, 0.247);
}

ul{
  display: flex;
  align-items: center;
  flex-direction: column;
}
li{
  padding: 5px 25px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.041);
  font-size: 2em; 
  border-radius: 50px;
  align-items: center;
  margin-bottom: 10px;
}
i{
  margin-left: 20px;
}
/*  */
@media (max-width: 700px ),(max-height: 700px) {
  #time {
    font-size: 4.5em;
  }
  #date {
    width: 100%;
    font-size: 1em;
    letter-spacing: 5px;
  }
  #greeting {
    font-size: 2em;
  }
  #todoInput{
    width: 80%;
  }
  #letter {
    font-size: .95em;
  }
}
@media (max-height: 550px) {
  .screen{
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
  }
  /*  */
  .times{
    justify-content: space-between;
    /* width: 50%; */
    padding: 0 5px;
  }
  #time{
    font-size: 4em;
  }
  #date{
    font-size: 1em;
    margin: 20px;
  }
  #greeting{
    font-size: 1.8em;
  }
  /*  */
  .todo{
    padding: 0 20px;
  }
  #todoInput{
    width: 55%;
    font-size: 1.2em;
  }
  li{
    font-size: 1.2em;
    width: 80%;
  }
}
